@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Anton+SC&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
body {
  background-color: var(--main-color);
  font-family: "Oswald", serif;
}
.homepage-title {
  justify-content: center;
  display: flex;
  font-size: 2.5rem;
  text-shadow: grey 2px 2px 2px;
}
.homepage-subtitle {
  justify-content: center;
  display: flex;
  font-size: 2rem;
  text-shadow: grey 2px 2px 2px;
}
.homepage-card-container {
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
}
.homepage-card-img {
  width: 100%;
}
.homepage-text {
  font-size: 1.5rem;
  width: 80%;
  color: var(--main-color);
  font-family: "Anton SC", serif;
}

.icon-container {
  height: 150px;
  width: 150px;
}
.homepage-cards {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 5%;
  width: 30%;
  min-height: 270px;
}

.light.test {
  background-color: var(--secondary-color);
}

.dark.test {
  background-color: var(--secondary-color-dark);
}

.dark.homepage-main {
  background-color: var(--main-color-dark);
  color: var(--main-color);
}

.light.homepage-main {
  background-color: var(--main-color);
}
.arrow {
  position: fixed;
  width: 5%;
  left: 48%;
  top: 80%;
}
.arrow-scroll {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .homepage-title {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .homepage-subtitle {
    font-size: 1.5rem;
    text-align: center;
  }
  .homepage-text {
    font-size: 1rem;
  }
  .homepage-card-container {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
  }
  .homepage-cards {
    width: 70%;
    gap: 16px;
  }
  .icon-container {
    height: 125px;
    width: 125px;
  }
}

.marker {
  transition: 0.8s;
}
