.footer {
  background-color: #36736e;
  width: 98%;
  position: relative;
  bottom: 0;
  height: 2.5rem;
  color: #e8e1d4;
  font-size: 1rem;
  padding: 1%;
}

.logo {
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
  margin-left: 0.3rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 480px) {
  .footer {
    height: 7rem;
    font-size: 1.1rem;
  }

  .reseau {
    display: flex;
    flex-direction: column;
    width: 7rem;
  }

  .contact {
    height: 1.5rem;
  }

  .contact-us {
    margin-left: 1rem;
  }
}
