.footer {
  background-color: #36736e;
  width: 98%;
  position: relative;
  bottom: 0;
  height: 2.5rem;
  color: #e8e1d4;
  font-size: 1rem;
  padding: 1%;
}

.logo {
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
  margin-left: 0.3rem;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
