@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

html {
  background-color: var(--main-color);
}

.booking-main {
  display: flex;
  justify-content: center;
  height: 600px;
  font-family: "Parkinsans", sans-serif;
  font-size: 1.3rem;
  color: white;
}

h1 {
  text-align: center;
  padding: 1rem;
  margin: 0;
  text-shadow: 2px 2px var(--secondary-color);
  border-radius: 10px;
}
.card {
  width: 18rem;
  height: 80%;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 5px 5px 10px 2px #153a37;
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 510px;
}
.booking-card-img {
  border-radius: 100px;
  padding: 0.3rem;
  background-color: var(--main-color);
  height: 200px;
  width: 200px;
}
/* POPUP SECTION */
.popup-overlay {
  display: flex;
  justify-content: center;
  align-items: inherit;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 109%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  z-index: 999;
}
.popup-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: fixed;
  color: black;
}
.popup-input {
  width: 70%;
  margin: 1rem;
  text-align: center;
  height: 2rem;
}
.popup-title {
  margin: 0;
  padding: 2rem;
  background-image: linear-gradient(135deg, #f8b500 50%, #fceabb 90%);
}
.popup-text {
  font-size: 1rem;
}
.price {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.img-popup-restaurant {
  width: 5rem;
  transform: rotate(30deg);
  margin: 1rem;
}
.img-popup-hotel {
  width: 5rem;
  margin: 1rem;
}
.button-reservation {
  margin: 1rem;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(135deg, #f8b500 50%, #fceabb 90%);
}
.button-reservation:hover {
  background-position: right center;
}
.button-reservation:active {
  top: 2px;
}
/* POPUP SECTION */
.slider {
  height: 90%;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track {
  display: flex;
  flex-direction: column;
  height: calc(250px * 6);
  animation: scroll 40s linear infinite;
  overflow: hidden;
}
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-250px * 3));
  }
}
.slide {
  height: 100%;
  width: 100%;
  max-width: 280px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.img-slide {
  width: 100%;
  padding: 1rem;
}
.sliders {
  height: 90%;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slides-track {
  display: flex;
  flex-direction: column;
  height: calc(250px * 6);
  animation: scrolls 40s linear infinite;
  overflow: hidden;
}
@keyframes scrolls {
  0% {
    transform: translateY(calc(-250px * 3));
  }
  100% {
    transform: translateY(0);
  }
}
.slides {
  height: 100%;
  width: 100%;
  max-width: 280px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.button-next,
.button-previous {
  min-width: 130px;
  height: 40px;
  color: var(--main-color);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #6f4d38;
  margin: 0.3rem;
}
.button-next:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.button-next:hover:after {
  opacity: 1;
  right: 10px;
}
.button-next:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
.button-previous:hover {
  border-radius: 5px;
  padding-left: 24px;
  padding-right: 8px;
}
.button-previous:hover:before {
  opacity: 1;
  left: 10px;
}
.button-previous:before {
  content: "\00AB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  left: -20px;
  transition: 0.4s;
}
.description {
  overflow: scroll;
  max-height: 150px;
  min-height: 50px;
}

@media only screen and (max-width: 480px) {
  .slider,
  .sliders {
    display: none;
  }

  .booking-main {
    display: initial;
  }

  .card {
    margin: 1rem;
    width: 90%;
    font-size: 1rem;
  }

  .description {
    height: 130px;
    min-height: none;
    max-height: none;
  }

.light {
  background-color: var(--secondary-color);
}

.dark {
  background-color: var(--secondary-color-dark);
}

.light.booking-main {
  background-color: var(--main-color);
}

.dark.booking-main {
  background-color: var(--main-color-dark);
}

main.light {
  background-color: var(--main-color);
}

main.dark {
  background-color: var(--main-color-dark);
  color: white;

}
