.img-dream-team {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 20rem;
  height: 20rem;
  border-radius: 15px;
}

.dream-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 28rem;
  width: 30rem;
  margin: 10px 10px 20px 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--secondary-color);
}

.title {
  font-size: 1.8rem;
  text-align: center;
}

.name {
  font-size: 1.4rem;
  text-align: center;
}

.card-container {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.contact-us {
  margin: 20px;
  margin-bottom: 0;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}

.input-contact {
  width: 30%;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  margin-bottom: 20px;
}

.button {
  border-radius: 10px;
  width: 6%;
  padding: 6px;
  border-color: var(--secondary-color);
  box-shadow: 0 0 2px var(--secondary-color);
}

.dark {
  background: var(--main-color);
}

.container.dark {
  background: var(--main-color-dark);
}

.container.light {
  background: var(--main-color);
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .img-dream-team {
    width: 90%;
    height: 220px;
  }
}
