.img-dream-team {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 20rem;
  height: 20rem;
  border-radius: 15px;
}

.dream-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #36736e;
  height: 28rem;
  width: 30rem;
  margin: 10px 10px 20px 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px #36736e;
}

.title {
  font-size: 1.8rem;
  text-align: center;
}

.name {
  font-size: 1.4rem;
  text-align: center;
}

.card-container {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.contact-us {
  margin: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #36736e;
}

.button {
  border-radius: 10px;
  width: 6%;
  padding: 6px;
  border-color: #36736e;
  box-shadow: 0 0 2px #36736e;
}

.form-contact {
  display: flex;
  flex-direction: column;
}

.contact {
  height: 4rem;
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 380px) {
  .img-dream-team {
    width: 90%;
    height: 220px;
  }
}
