* {
  padding: 0;
  margin: 0;
}

.dreamTeam {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.container {
  border: 2px solid #36736e;
  height: 28rem;
  width: 30rem;
  margin: 10px 10px 20px 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px #36736e;
}

.imgDreamTeam {
  width: 20rem;
  height: 20rem;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  justify-self: center;
}

.title {
  font-size: 1.8rem;
  text-align: center;
}

.name {
  font-size: 1.4rem;
  text-align: center;
}

.cardContainer {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.contactUs {
  margin: 20px;
}

.input {
  width: 12%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #36736e;
}

.inputContact {
  width: 30%;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #36736e;
  margin-bottom: 20px;
}

.button {
  border-radius: 10px;
  width: 6%;
  padding: 6px;
  border-color: #36736e;
  box-shadow: 0 0 2px #36736e;
}
