* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  background-color: #36736e;
  font-size: 1.1rem;
  color: #e8e1d4;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
}

.logoNav {
  width: 12rem;
  height: 9rem;
  margin-right: 15rem;
}

.linksNav {
  margin-left: 8rem;
  display: flex;
  align-items: center;
  gap: 45rem;
  list-style: none;
  font-size: 1.75rem;
}

a {
  text-decoration: none;
  color: #e8e1d4;
}
